spring:
  output:
    ansi:
      enabled: always
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  datasource:
    url: jdbc:mysql://172.17.0.1:13307/Reservation?useSSL=false
    username: root
    password: 1212
    driver-class-name: com.mysql.cj.jdbc.Driver
  redis:
    host: 172.17.0.1
    port: 6379